extends ../../layout.pug

block content 
  link(rel='stylesheet', type='text/css', href='/css/style.css')
  link(rel='stylesheet', type='text/css', href='/css/contact.css')
  link(rel='stylesheet', type='text/css', href='/css/adminProfile.css')
  link(rel='stylesheet', type='text/css', href='/css/modal.css')
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
  body
    #home.main_container
      .navbar(data-aos="fade-down")
        .logo
          a(href='#' style="text-decoration: none;" data-aos="zoom-in") 
            span Anoop Arunan
            span.subTitle  Photography
        .menu-toggle
        .navbar_items
          ul
            li
              a.active(href='#') Home
            li
              a(href='#about') About Me
            li
              a(href='#services') Services
            li
              a(href='#photos') Photos
            li
              a(href='#contactus') Contact
        .dropdown
          button.dropbtn Your Profile
          .dropdown-content
            br
            //- a(href='/updateEmail') Update Email
            //- a(href='/updatePassword') Update Password
            a(href='/viewAdmins') View All Admins
            a(href='/restart') Restart App
            a(href='/deleteAccount' onclick="return ConfirmDelete();") Delete Account
            a(href='/logout') Logout
    
      
      //- .slideshow-container
      //-   each mainImage in mainImages_List
      //-     .mySlides
      //-       img(src='img/landing_images/' + mainImage style='width:100%;max-height: 800px;')
      //-       .heading-sm 
      //-         button(href="/newFolder" class="btn") ___
      //-           span.fa.fa-edit(aria-hidden='true' style="color:white; font-size:48px;")
      
      
      .parallax5 
        each mainImage in Slot_1_List
          img(src='img/Slot_1_Image/' + mainImage alt='Image 1' style="background: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);")

      br
      hr
      br
      .text_parallax
        //- .dropdown
        //-   a(href='/restart') Restart
        .heading-contact
          button.modal-open(data-modal='modal1') Edit 
            span.fa.fa-edit(aria-hidden='true')

        #modal1.modal
          .modal-content
            .modal-header
              | Slot 1 - Update
              //- button.icon.modal-close
              //-   i.material-icons close
            .modal-body
              form(action="/slot_1" method="post" enctype="multipart/form-data")           
                .form-group
                    label(for='exampleFormControlFile1') Upload picture
                    br
                    br
                    input#exampleFormControlFile1.form-control-file(type="file" name="file")
                    br
                button.btn.btn-primary Update
            .modal-footer
              button.link.modal-close Close 
                    
      hr
      br
      //- .text_parallax

      //- section
      //-   #about.about
      //-     .row
      //-       .col-xs-12.col-sm-6.Content(class='col-md-3> </div> <div class=', col-xs-12='', col-sm-6='', col-md-3='')
      //-         div(class="item-text" data-aos="fade-right")
      //-           br
      //-           div(class="about_text")
      //-             h1 About Me
      //-             br
      //-             p.big-text  Create Responsive Website
      //-             p Learn how to make a responsive website using HTML, CSS and bootstrap
      //-             a.btn.btn-first(href='#') Like Video
      //-             a.btn.btn-second(href='#') Subscribe Video
      //-       .col-xs-12.col-sm-6.Content(class='col-md-3> </div> <div class=', col-xs-12='', col-sm-6='', col-md-3='')
      //-         div(class="item-img" data-aos="fade-left")
      //-           each slot2 in Slot_2_List
      //-             img(src='img/Slot_2_Image/' + slot2 class="about_img")
      //-           .heading-contact(style="bottom: 10%; right: 15%; float: right;")
      //-             button.modal-open(data-modal='modal2' style="color:white; font-size:20px; border: 1px solid white;box-shadow: 10px 10px 10px  black;") Edit 
      //-               span.fa.fa-edit(aria-hidden='true' style="color:white; font-size:30px;")
      section
        #about.about
          .row
            .col-xs-12.col-sm-6.Content(class='col-md-3> </div> <div class=', col-xs-12='', col-sm-6='', col-md-3='')
              div(class="item-text" data-aos="fade-right")
                br
                h1=config_aboutHeading
                br
                //- h4=config_About_Para1
                p.big-text=config_About_Para1
                p.big-text=config_About_Para2
                
                button.modal-open(data-modal='modal6' style="border: 1px solid black;box-shadow: 10px 10px 10px  black; float: right;")
                  span.fa.fa-edit(aria-hidden='true' style="color:black; font-size:20px;")
            #modal6.modal
              .modal-content
                .modal-header
                  | Edit "About" Section
                .modal-body
                  form(action="/slot_About" method="post")           
                    .form-group.row
                      label.col-sm-2.col-form-label(for='inputEmail3') Update Heading
                      .col-sm-10
                        input#inputEmail3.form-control(type="text" name="heading" value=config_aboutHeading)
                    .form-group.row
                      label.col-sm-2.col-form-label(for='inputEmail3') Update Para 1
                      .col-sm-10
                        input#inputEmail3.form-control(type="text" name="About_Para1" value=config_About_Para1)
                    .form-group.row
                      label.col-sm-2.col-form-label(for='inputEmail3') Update Para 2
                      .col-sm-10
                        input#inputEmail3.form-control(type="text" name="About_Para2" value=config_About_Para2)
                        br
                    button.btn.btn-primary Update
                .modal-footer
                  button.link.modal-close Close 
            .col-xs-12.col-sm-6.Content(class='col-md-3> </div> <div class=', col-xs-12='', col-sm-6='', col-md-3='')
              div(class="item-img" data-aos="fade-left")
                each slot2 in Slot_2_List
                  img.img-responsive(src='img/Slot_2_Image/' + slot2)  
                .heading-contact(style="bottom: 10%; right: 15%; float: right;")
                  button.modal-open(data-modal='modal2' style="color:white; font-size:20px; border: 1px solid white;box-shadow: 10px 10px 10px  black;") Edit 
                    span.fa.fa-edit(aria-hidden='true' style="color:white; font-size:30px;")
            
                
                #modal2.modal
                  .modal-content
                    .modal-header
                      | Slot 2 - Update
                      //- button.icon.modal-close
                      //-   i.material-icons close
                    .modal-body
                      form(action="/slot_2" method="post" enctype="multipart/form-data")           
                        .form-group
                            label(for='exampleFormControlFile1') Upload picture
                            br
                            br
                            input#exampleFormControlFile1.form-control-file(type="file" name="file")
                            br
                        button.btn.btn-primary Update
                    .modal-footer
                      button.link.modal-close Close                              
      br
      br
      .background-img
        each slot3 in Slot_3_List
          img(src='img/Slot_3_Image/' + slot3)
        .heading-sm 
          button.modal-open(data-modal='modal3' style="border: 1px solid white;box-shadow: 10px 10px 10px  black;")
            span.fa.fa-edit(aria-hidden='true' style="color:white; font-size:48px;")

        #modal3.modal
          .modal-content
            .modal-header
              | Slot 3 - Update
            .modal-body
              form(action="/slot_3" method="post" enctype="multipart/form-data")           
                .form-group
                    label(for='exampleFormControlFile1') Upload picture
                    br
                    br
                    input#exampleFormControlFile1.form-control-file(type="file" name="file")
                    br
                button.btn.btn-primary Update
            .modal-footer
              button.link.modal-close Close 

      .text_parallax
        #photos.photos
          h2.w3-text-light-grey Gallery
          br
          br
          a(href="/newPhoto" class="btnImage") New Image    
            span.fa.fa-picture-o(aria-hidden='true' style="color:white;")
          a(href="/newFolder" class="btnFolder") New Folder    
            span.fa.fa-folder(aria-hidden='true' style="color:white;")
          hr
          br
          br
          br
          br
          //- div(class="card-deck")
          //-     each folder in variables.folders
          //-         div(class="col-xs-12 col-md-4 col-lg-3")
          //-             div(style="border: 1px solid grey; box-shadow: 5px 5px 10px #0e0c0c;")
          //-                 a(href="/adminFolders/" + folder._id style="text-decoration: none;" class="photo-link")
          //-                     div(class="card")
          //-                         br
          //-                         img(class="card-img-top" src='/img/photos/' + folder.folder_img alt=folder.folder_img style="height:250px;width:100%;box-shadow: 8px 10px 10px #0e0c0c;")
          //-                         div(class="card-body" style="text-align: center")
          //-                             h4(class="card-title" style="color: black;")= folder.name
          //-                             br
          //-                             a(href="/delete/" + folder._id class="btn btn-danger" onclick="return ConfirmDeleteFolder();" style="margin-right: 10px; box-shadow: 5px 10px 10px #0e0c0c;") Delete
          //-                             a(href="/update/" + folder._id class="btn btn-secondary btn-md" style="border: 1px solid black; box-shadow: 5px 10px 10px #0e0c0c;") Update
          //-                             br
          //-                             br
          //-             br
          //-             br
          
          .row.row-cols-1.row-cols-sm-2.row-cols-md-3
              each folder in variables.folders
                  .col.mb-4
                      div(style="border: 1px solid grey; box-shadow: 5px 5px 10px #0e0c0c;")
                          a(href="/adminFolders/" + folder._id style="text-decoration: none;" class="photo-link")
                              div(class="card")
                                  br
                                  img(class="card-img-top" src='/img/photos/' + folder.folder_img alt=folder.folder_img style="height:250px;width:100%;box-shadow: 8px 10px 10px #0e0c0c;")
                                  div(class="card-body" style="text-align: center")
                                      h4(class="card-title" style="color: black;")= folder.name
                                      br
                                      a(href="/delete/" + folder._id class="btn btn-danger" onclick="return ConfirmDeleteFolder();" style="margin-right: 10px; box-shadow: 5px 10px 10px #0e0c0c;") Delete
                                      a(href="/update/" + folder._id class="btn btn-secondary btn-md" style="border: 1px solid black; box-shadow: 5px 10px 10px #0e0c0c;") Update
                                      br
                                      br
                      br
                      br
                
      .background-img
        each slot4 in Slot_4_List
          img(src='img/Slot_4_Image/' + slot4)
        .heading-sm 
          button.modal-open(data-modal='modal4' style="border: 1px solid white;box-shadow: 10px 10px 10px  black;")
            span.fa.fa-edit(aria-hidden='true' style="color:white; font-size:48px;")

        #modal4.modal
          .modal-content
            .modal-header
              | Slot 4 - Update
            .modal-body
              form(action="/slot_4" method="post" enctype="multipart/form-data")           
                .form-group
                    label(for='exampleFormControlFile1') Upload picture
                    br
                    br
                    input#exampleFormControlFile1.form-control-file(type="file" name="file")
                    br
                button.btn.btn-primary Update
            .modal-footer
              button.link.modal-close Close 

      .text_parallax
        section(class="dark")
          #services.services
            h3 What I can do for you . . .
            hr
            br
            //- .two-col(data-aos="fade-down" class="fading")
            .two-col(data-aos="fade-down")
              p=config_Services_Para1
              p=config_Services_Para2
              p=config_Services_Para3
              //- p I provide exclusive coverage on your special day, be it your betrothal or your wedding or that incredibly special proposal, birthdays and Baby showers. In addition, I cover functions, events and celebrations. 
              //- p I also specialize in portfolio shoot and conceptual photography. If you have an idea for a shoot, I can work with you to make it a reality. Make it come to life.
              br
              hr
            .two-col(data-aos="fade-down")
              h3(style="float: right;") You can Follow me here ...
              br
              br
              br
              br
              div(class="follow-icons")
                ul 
                  li 
                    a(href="https://www.youtube.com/channel/UCm1dgWauzhgFifckipmClzA" style="text-decoration: none;color:white;").fa.fa-youtube(aria-hidden='true') 
                  li
                    a(href="https://instagram.com/anoop_arunan?igshid=17n7ntap5ifoq" style="text-decoration: none;color:white;").fa.fa-instagram(aria-hidden='true')
                  li
                    a(href="mailto:annoop007@gmail.com" style="text-decoration: none;color:white;").fa.fa-envelope(aria-hidden='true')
              br
              br
              br
              br
              button.modal-open(data-modal='modal7' style="border: 1px solid white;box-shadow: 10px 10px 10px  black; float: right;")
                  span.fa.fa-edit(aria-hidden='true' style="color:white; font-size:20px;")

            #modal7.modal
              .modal-content
                .modal-header(style="color:black;")
                  | Edit "Services" Section
                .modal-body
                  form(action="/slot_Services" method="post")           
                    .form-group.row
                      label.col-sm-2.col-form-label(for='inputEmail3') Update Para 1
                      .col-sm-10
                        input#inputEmail3.form-control(type="text" name="para_1" value=config_Services_Para1)
                    .form-group.row
                      label.col-sm-2.col-form-label(for='inputEmail3') Update Para 2
                      .col-sm-10
                        input#inputEmail3.form-control(type="text" name="para_2" value=config_Services_Para2)
                    .form-group.row
                      label.col-sm-2.col-form-label(for='inputEmail3') Update Para 3
                      .col-sm-10
                        input#inputEmail3.form-control(type="text" name="para_3" value=config_Services_Para3)
                        br
                    button.btn.btn-primary Update
                .modal-footer
                  button.link.modal-close Close 

      #contactus
        .contact-img
          each slot5 in Slot_5_List
            img(src='img/Slot_5_Image/' + slot5)
          //- img(src='img/contact/IMG-20200731-WA0005.jpg', alt='Image 3')
          .heading-sm 
            button.modal-open(data-modal='modal5' style="border: 1px solid white;box-shadow: 10px 10px 10px  black;")
              span.fa.fa-edit(aria-hidden='true' style="color:white; font-size:48px;")
          #modal5.modal
            .modal-content
              .modal-header
                | Slot 5 - Update
              .modal-body
                form(action="/slot_5" method="post" enctype="multipart/form-data")           
                  .form-group
                      label(for='exampleFormControlFile1') Upload picture
                      br
                      br
                      input#exampleFormControlFile1.form-control-file(type="file" name="file")
                      br
                  button.btn.btn-primary Update
              .modal-footer
                button.link.modal-close Close

          .loginBox
            .glass(data-aos="fade-down")
              h3 Let's Get In Touch !!
              //- h5 I would love to hear from you...
              form(id='contactForm' onsubmit="return sendData()" action="/contact" method="post")
                .inputBox
                  input(type='text', name='name', placeholder='Name' required='')
                .inputBox
                  input(type='text', name='email', placeholder='Email' required='')
                .inputBox
                  input(type='text', name='phone', placeholder='Phone Number(Optional)')
                .inputBox
                  input(type='text', name='date', placeholder='Date of Event')
                .inputBox
                  input(type='text', name='location', placeholder='Location')
                .inputBox
                  input(type='text', name='eventType', placeholder='What kind of service are you looking for?')
                br
                .inputBox
                  input(type='textarea', name='message', placeholder='Enter message' rows="16" cols="70" style="white-space: pre-wrap; padding: 12px 20px;background: transparent;")
                br
                br
                input(type='submit', name='', value='Send Message')
        
      .arrow
        a(href='#home')
          img(src='https://i.imgur.com/wre6n0O.png', alt='up_arrow')
    script(src='https://code.jquery.com/jquery-3.5.1.js', integrity='sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=', crossorigin='anonymous')
    script(type='text/javascript').
      $(document).ready(function(){
      $('.menu-toggle').click(function(){
      $('.menu-toggle').toggleClass('active')
      $('.navbar_items').toggleClass('active')
      })
      })
    script(type='text/javascript').
      document.addEventListener('contextmenu', event => event.preventDefault());
    script. 
      function ConfirmDelete(){
        if (confirm("Are you sure you want to delete your Account?")){
              return true;
        }
        else {
          return false;
        }
      }  
    script. 
      function ConfirmDeleteFolder(){
        if (confirm("Are you sure you want to delete the Folder ? ")){
              return true;
        }
        else {
          return false;
        }
      }  
    script. 
      function UpdateContent(){
        if (confirm("Are you sure you want to delete the Folder ? ")){
              return true;
        }
        else {
          return false;
        }
      }  
    script.
      $(function(){
        $('.background-img img').each(function(){
            var img = $(this).hide();
            img.parent().css('background-image', 'url(' + img.prop('src') + ')');
        });
        });
    script.
      $(function(){
        $('.contact-img img').each(function(){
            var img = $(this).hide();
            img.parent().css('background-image', 'url(' + img.prop('src') + ')');
        });
        });
    script.
      $(function(){
        $('.parallax5 img').each(function(){
            var img = $(this).hide();
            img.parent().css('background-image', 'url(' + img.prop('src') + ')');
  
        });
        });
    script(src="/js/modal.js" type='text/javascript')
    script(src="https://unpkg.com/aos@next/dist/aos.js")
    script. 
        AOS.init({
          duration: 1200,
        });
    
